target/
.git/
*.log
*.md
*.iml
.dockerignore
Dockerfile
README*
*.sh
node_modules/
.m2/
.env
Infrastructure-Setup/
Jenkins_ServiceAccount_RBAC_Scripts/
Jenkinsfile
LICENSE
Manifest_Files/
Mongo_Data_Init/
allure-report/
jenkins-pipeline/
screenshots/
